<?xml version="1.0"?>

<launch>
	<!-- Remap topics -->
	<!-- <remap from="/scan" to="mapping/laserscan"/> -->
	
	<!-- Launch the hector_mapping node -->
	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
		<param name="pub_map_odom_transform" value="true"/>
		<param name="base_frame" value="base_link"	 />
		<param name="odom_frame" value="odom"		 />
    		<param name="map_update_interval" value="5.0"	 />
		<param name="pub_odometry" value="true"		 />
  	</node>
	
	<!-- Launch the costmap node
	<node pkg="costmap" type="costmap_node.py" name="costmap_node" output="screen">
	</node>	-->
</launch>
