<launch>
    <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <param name="map_resolution" value="0.05" />
        <param name="map_update_distance_thresh" value="0.05" />
        <param name="map_update_angle_thresh" value="0.5" />
        <param name="laser_max_dist" value="5" />
        <param name="pub_map_odom_transform" value="true"/>
    </node>
</launch>
