<?xml version="1.0"?>
<launch>

    <arg name="namespace" default="csi_rover"/>

    <env name="GAZEBO_PLUGIN_PATH" value="$(find csi_rover_controls)/../../devel/lib"/>

<!--    <node pkg="tf" type="static_transform_publisher" name="static_world_to_odom_publisher" args="0 0 0 0 0 0 /world /odom 100"/>-->

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find csi_rover_description)/urdf/csi_rover.xacro'" />

    <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world odom 10" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model csi_rover -param robot_description"/>

    <rosparam file="$(find csi_rover_controls)/config/csi_rover_controller_topics.yaml" command="load"/>

    <!-- Load the ros-gazebo joint effort controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/csi_rover" args="joint_state_controller
                                                left_front_steering_controller
					                            right_front_steering_controller
					                            left_rear_steering_controller
					                            right_rear_steering_controller

					                            left_front_axle_controller
					                            right_front_axle_controller
					                            left_rear_axle_controller
					                            right_rear_axle_controller" />

    <!-- Launch robot motion controller -->
    <node name="rover_controller" pkg="csi_rover_controls" type="rover_motion_controller.py" >
        <!-- params ... -->
    </node>

    <node name="rover_wheel_encoders" pkg="csi_rover_controls" type="rover_wheel_encoders.py" >
        <!-- params ... -->
    </node>

    <!-- Send fake joint values-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">

    </node>

</launch>
